<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante <%= Nombre %></title>
</head>
<body>
    <center> 
        <%// Creamos una vista para poder mostrar los datos y usamos (< %=) para mostrar el valor de las variables %>
        <h1>Nombre: <%= Nombre %></h1>
        <h2>Edad: <%= Edad %></h2>
        <h2>Nss: <%= NSS %></h2>
        <h2>Tipo de Sangre: <%= TpSangre %></h2>
    </center>
</body>
</html>